body {
    background-color: #FFFFFF;
}

.stickynote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-doc2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
}

.header2-share, .header2-favorite {
    cursor: pointer;
    background-color: transparent;
}

.tambah {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FEFFE5;
    border-radius: 13px;
    border: 1px solid #91C788;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 12.5rem;
    height: 12.5rem;
    cursor: pointer;
    font-size: 125px;
    color: #91C788;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
}

    .tambah:hover {
        color: #FEFFE5;
        background-color: #91C788;
        border: 3px solid #FEFFE5;
        transition: 1s;
    }

.note {
    width: 250px;
    min-height: 250px;
    margin-right: 0.5rem;
    display: flex;
    background-color: #F3CE0F;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 1rem;
    border-radius: 23px;
    flex-wrap: wrap;
    margin-left: 0.5rem;
    margin-top: 2rem;
}

.note-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.note-judul {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding-left: 2.5rem;
    width: 85%;
    height: 100%;
    background-color: transparent;
    display: inline-block;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    border: none;
    resize: none;
    overflow: hidden;
    margin: 0;
}

.note-isi {
    font-family: 'Poppins', sans-serif;
    padding-left: 1rem;
    width: 90%;
    height: 100%;
    background-color: transparent;
    display: inline-block;
    resize: none;
    overflow: hidden;
    border: none;
    font-size: 16px;
    margin: 0;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.note-buttons {
    margin-left: auto;
    padding-right: 1rem;
    position: sticky;
    padding-top: 6rem;
    z-index: 99999;
}

.note-color-option, .note-delete-option {
    cursor: pointer;
    background-color: transparent;
    padding: 0.5rem;
}

.color-options {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 50px;
    right: 10px;
    z-index: 10;
}

.color-option {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
